<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-list>
          <ion-item>
              <ion-label><h1>{{user.title}} {{user.name}} {{user.surname}}</h1></ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label> <font size="2"> PID - osobné identifikačné číslo </font> <font style="float:right;"> {{user.pid}} </font></ion-label>
            </ion-item>
            <ion-item>
                <ion-label> <font size="2"> Telefónne číslo </font> <font style="float:right;"> {{user.phoneNumber}} </font></ion-label>
            </ion-item>
            <ion-item>
                <ion-label> <font size="2">Email </font> <font style="float:right;">{{user.email}}</font></ion-label>
            </ion-item>
            <ion-item>
                <ion-label> <font size="2">Trvalé bydlisko</font> <font style="float:right;"><strong>{{user.city}}<br>
                  {{user.psc}} {{user.city}}<br>
                  {{user.state}}
                 </strong></font></ion-label>
            </ion-item>
          </ion-list>
    </ion-col>
  </ion-row>
  <ion-button style="float: right;" (click)="onEdit()">Zmeň</ion-button> 
</ion-grid> 

</ion-content>
